$primaryBtnColor : #1388E6;

.frame-of-content {
  width: 75%;
  height: 100px;
  margin: 0 auto;
  direction: rtl;
  background-color: yellowgreen;
}

.navbar {
  display: flex;
  padding: 1rem 0;

  .logo {
    flex-grow: 1;
    flex-basis: 0;
  }

  .menu {
    display: flex;
    flex-grow: 3;
    flex-basis: 0;
  }

  .left-of-nav {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;

  }
}

.primaryBtn {
  background-color: $primaryBtnColor !important;
  border-color: $primaryBtnColor !important;
  border-radius: 10px !important;
  padding: 10px 30px !important;
  height: fit-content !important;
}

.primaryBtn:active {
  background-color: $primaryBtnColor - 20 !important;
  border-color: $primaryBtnColor - 20 !important;
}